In [5]:
import numpy as np
import pandas as pd
import vectorbtpro as vbt

In [6]:
multi_asset_m1_hf_data = vbt.HDFData.fetch('../data/MultiAsset_OHLCV_3Y_m1.h5')

  0%|          | 0/5 [00:00<?, ?it/s]

/opt/miniconda3/envs/vbt/lib/python3.10/site-packages/vectorbtpro/data/base.py:674: UserWarning: Symbols have mismatching index. Setting missing data points to NaN.
  data = cls.align_index(data, missing=missing_index, silence_warnings=silence_warnings)

In [7]:
multi_asset_m1_hf_data.symbols

['AUDUSD', 'EURUSD', 'GBPUSD', 'USDCAD', 'USDJPY']

In [8]:
multi_asset_m1_hf_data.get('Close')

symbol                       AUDUSD    EURUSD    GBPUSD    USDCAD    USDJPY
time
2019-12-02 03:29:00+00:00  0.676920  1.102510  1.291060  1.327435  109.5305
2019-12-02 03:30:00+00:00  0.676935  1.102475  1.290995  1.327435  109.5345
2019-12-02 03:31:00+00:00  0.676910  1.102695  1.291465  1.327485  109.5300
2019-12-02 03:32:00+00:00  0.676900  1.102680  1.291460  1.327635  109.5345
2019-12-02 03:33:00+00:00  0.676885  1.102455  1.291410  1.327655  109.5440
...                             ...       ...       ...       ...       ...
2022-11-23 06:39:00+00:00       NaN       NaN  1.225635       NaN       NaN
2022-11-23 06:40:00+00:00       NaN       NaN  1.225730       NaN       NaN
2022-11-23 06:41:00+00:00       NaN       NaN  1.225720       NaN       NaN
2022-11-23 06:42:00+00:00       NaN       NaN  1.225580       NaN       NaN
2022-11-23 06:43:00+00:00       NaN       NaN  1.225530       NaN       NaN

[1118810 rows x 5 columns]